*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/*Ajuste body
body{
}
*/
/*Ajuste do header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
/*Ajuste titleDigital*/
#titleDigital ul {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #474747;
    margin-top: 20px;
}
#titleDigital li:hover {
    color: #C92071;
    transition: 0.6s;
    opacity: 0.7;
}
#titleDigital .figure {
    padding-top: 5px;
}
/*searchProd*/
#searchProd {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: center;
}
#searchProd input {
    height: 7vh;
    width: 80%;
    border-radius: 8.64px;
    opacity: 0.04;
    background-color: #474747;
}
input::placeholder {
    color:  #666;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    opacity: 0.6;
}
/*Ajuste cadastrar e entrar*/
#cadOpen {
    display: flex;
    align-items: center;
    width: 25vw;
    justify-content: space-evenly;
}
#cadOpen a {
    color: #474747;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 17px;
}
#cadOpen  button {
    width: 7vw;
    height: 6vh;
    border-style: none;
    border-radius: 8.64px;
    background-color: #C92071;
    color: #F5F5F5;   
}
#cadOpen .material-symbols-outlined {
    color: #C92071;
}