*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/*Ajuste body
body{
}
*/
/*Ajuste do header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
/*Ajuste titleDigital*/